.logo {
    grid-area: logo;
    width: 50%;
    padding-left: 10px;
}
.register {
    grid-area: register;
    padding-right: 10px;
    text-align: right;
    color: #0065fc;
}
.activities {
    grid-area: activities;
    display: block;
    width: 100%;
    line-height: 30px;
    height: 30px;
}
.logement {
    grid-area: logement;
    display: block;
    color: #0065fc;
    width: 100%;
    line-height: 30px;
    height: 30px;
    text-align: center;
}
a.logement:hover,
a.register:hover,
a.activities:hover {
    border-bottom: none;
    border-top: 2px solid #0065fc;
    cursor: pointer;
}

a.bouton1:hover,
a.bouton2:hover,
a.bouton3:hover,
a.bouton4:hover {
    color: #0065fc;
    font-style: oblique;
    font-size: 15px;
    transition-duration: 2s;
}

form div button {
    width: 80px;
}

form div button span {
    font-weight: bold;
}
.fas.fa-search.search-icon {
    display: none;
}
.search-content {
    display: block;
}

main {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: none;
    grid-template-areas:
        "dodo pop"
        "act act";
    padding: 20px;
}

.pop {
    padding: 20px;
    border-radius: 20px;
}

.dodo {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 200px 200px 50px;
    grid-template-areas:
        "titredodo titredodo titredodo"
        "image4 image5 image6"
        "image7 image8 image9"
        "afficherplus afficherplus afficherplus";
    padding: 20px;
    gap: 20px;
    background-color: #f2f2f2;
    border-radius: 20px;
}

.act {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px 200px 200px;
    /*grid-auto-rows: minmax(50px; 150px);*/
    grid-template-areas:
        "titreact titreact titreact titreact"
        "image10 image11 image13 image14"
        "image10 image12 image13 image15";
    padding: 20px;
    gap: 20px;
}
.image11 {
    min-block-size: 260px;
}

.image12 {
    position: relative;
    top: 70px;
    max-block-size: 130px;
}
.act a {
    padding: 0;
}
.act a figure figcaption {
    padding-bottom: 10px;
    padding-left: 10px;
}
