:root {
    font-size: 10px; /* 1rem */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
body {
    font-family: Raleway, Georgia, serif;
}
.logo {
    grid-area: logo;
    width: 50%;
    padding-left: 10px;
}
.register {
    grid-area: register;
    padding-right: 10px;
    align-self: center;
    text-align: right;
}
.activities {
    grid-area: activities;
    display: block;
    width: 100%;
    line-height: 30px;
    height: 30px;
}
.logement {
    grid-area: logement;
    display: block;
    width: 100%;
    line-height: 30px;
    height: 30px;
    border-bottom: 2px solid #0065fc;
    text-align: center;
}
.titredodo {
    grid-area: titredodo;
}
.titreact {
    grid-area: titreact;
}

.titrepop {
    grid-area: titrepop;
}

.dodo {
    grid-area: dodo;
}
.afficherplus {
    grid-area: afficherplus;
}
.pop {
    grid-area: pop;
}
.act {
    grid-area: act;
}
.apropos {
    grid-area: apropos;
}
.noshebergements {
    grid-area: noshebergements;
}
.assistance {
    grid-area: assistance;
}
.image1 {
    grid-area: image1;
}
.image2 {
    grid-area: image2;
}
.image3 {
    grid-area: image3;
}
.image4 {
    grid-area: image4;
}
.image5 {
    grid-area: image5;
}
.image6 {
    grid-area: image6;
}
.image7 {
    grid-area: image7;
}
.image8 {
    grid-area: image8;
}
.image9 {
    grid-area: image9;
}
.image10 {
    grid-area: image10;
}
.image12 {
    grid-area: image12;
}
.image13 {
    grid-area: image13;
}
.image14 {
    grid-area: image14;
}
.image15 {
    grid-area: image15;
}
header h1,
header h2 {
    padding: 1rem;
}

form div {
    padding: 0 10px;
    display: flex;
}
form div label {
    width: 50px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-radius: 1rem 0 0 1rem;
    background-color: #f2f2f2;
}
form div button {
    width: 50px;
    border: none;
    margin-left: -20px;
    border-radius: 1rem;
    background-color: #0065fc;
    color: white;
}
form div input {
    border: none;
    width: calc(100% - 80px);
    padding: 0 1rem;
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
}
.search-content {
    display: none;
}

.filtre {
    padding: 1rem;
    display: inline-block;
}

.eco,
.famille,
.romantique,
.animaux {
    border-radius: 15px;
    border: 1px solid silver;
}
.fas.fa-money-bill-wave,
.fas.fa-male,
.fas.fa-heart,
.fas.fa-dog {
    height: 30px;
    width: 30px;
    color: #0065fc;
    background-color: #d8e8ff;
    border-radius: 50%;
    margin: -1px;
    line-height: 30px;
}
.fas.fa-star {
    color: #0065fc;
}
.fas.fa-star.gris {
    color: silver;
}
.fas.fa-info {
    border-radius: 50%;
    border: 1px solid #0065fc;
    color: #0065fc;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}
nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "logo register"
        "logement activities";
}

header span {
    padding: 0 1rem;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "pop"
        "dodo"
        "act";
    gap: 10px;
}

.pop {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px repeat(3, 150px);
    grid-template-areas:
        "titrepop"
        "image1"
        "image2"
        "image3";
    gap: 20px;
    padding: 20px;
    background-color: #f2f2f2;
}
.titrepop {
    display: flex;
    justify-content: space-between;
}

.pop a {
    border-radius: 20px;
    box-shadow: 0 2px 5px silver;
    padding: 5px;
    background-color: white;
}
.pop a figure {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 10px 0 0 10px;
}

.pop a figure figcaption {
    width: 60%;
    padding: 10px;
    position: relative;
    color: black;
}
.pop a figure figcaption div {
    position: absolute;
    bottom: 10px;
    color: #0065fc;
}

.pop a figure img {
    object-fit: cover;
    width: 40%;
    border-radius: 10px 0 0 10px;
}

.dodo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px repeat(6, 200px) 50px;
    grid-template-areas:
        "titredodo"
        "image4"
        "image5"
        "image6"
        "image7"
        "image8"
        "image9"
        "afficherplus";
    padding: 20px;
    gap: 20px;
}
.dodo a {
    border-radius: 20px;
    box-shadow: 0 2px 5px silver;
    padding: 5px;
    background-color: white;
    color: black;
}

.dodo a figure {
    border-radius: 10px 10px 0 0;
    height: 100%;
}

.dodo a figure figcaption {
    height: 50px;

    position: relative;
    color: black;
}
.dodo a figure figcaption div {
    position: absolute;
    color: #0065fc;
    bottom: 0;
}

.dodo a figure img {
    height: calc(100% - 70px);
    object-fit: cover;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.afficherplus {
    font-weight: bold;
    font-size: large;
}

.act {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px repeat(6, 200px);
    grid-template-areas:
        "titreact"
        "image10"
        "image11"
        "image12"
        "image13"
        "image14"
        "image15";
    padding: 20px;
    gap: 20px;
}

.act a {
    border-radius: 20px;
    box-shadow: 0 2px 5px silver;
    padding: 5px;
    background-color: white;
    color: black;
}
.act a figure {
    height: 100%;
    bborder-radius: 10px 10px 0 0;
}

.act a figure figcaption {
    height: 50px;
    color: black;
    line-height: 50px;
}

.act a figure img {
    height: calc(100% - 50px);
    object-fit: cover;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

footer {
    padding: 20px;
    gap: 20px;
    background-color: #f2f2f2;
    color: black;
}

footer ul {
    margin: 10px 0;
}

footer ul li {
    color: black;
}
