nav {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: none;
    grid-template-areas: "logo logement activities register";
}
.logo {
    padding-left: 10px;
}
.register {
    padding-left: 0px;
    display: block;
    width: 100%;
    line-height: 30px;
    height: 30px;
    text-align: center;
    align-self: unset;
}
.activities {
    padding-right: 0px;
    display: block;
    width: 100%;
    line-height: 30px;
    height: 30px;
    text-align: center;
}
.logement {
    padding-left: 0px;
    display: block;
    width: 100%;
    line-height: 30px;
    height: 30px;
    text-align: center;
}
form div {
    width: 60%;
}

main {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "dodo pop"
        "act act";
}
.pop {
    grid-template-columns: 1fr;

    grid-template-areas:
        "titrepop"
        "image1"
        "image2"
        "image3";
        border-radius: 20px;
}

.dodo {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px repeat(3, 200px) 50px;
    grid-template-areas:
        "titredodo titredodo"
        "image4 image5"
        "image6 image7"
        "image8 image9"
        "afficherplus afficherplus";
        border-radius: 20px;
}
.dodo a figure figcaption h2,
.pop a figure figcaption h2 {
    font-size: 1.3rem;
}

.act {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px repeat(3, 200px);
    grid-template-areas:
        "titreact titreact"
        "image10 image11"
        "image12 image13"
        "image14 image15";
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: none;
    grid-template-areas: "apropos noshebergements assistance";
    padding: 20px;
}
